body{
    background-color: black;
    text-align: center;

}
h1{
   font-family: 'Games', sans-serif; 
   color: white;
   font-size: 50px;

}

h2{
    margin-top: -15px;
    color: white;

}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.button-container{
    width: 430px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2em 1em;
    margin: 0 auto;
    padding: 10px;
}

.button{   
    width: 200px;
    height: 180px;
    border: 4px solid white;
    border-radius: 15px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

#startBtn , #quit{
    margin-top: 10px;
    padding: 15px 30px;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: black;
    border: 3px solid white;
    border-radius: 15px;
}


